.bg-header {
  width: 100%;
  height: 400px;
  background-image: var(--image);
  background-size: cover;
}

.bg-filter {
  width: 100%;
  height: 400px;
  background: #3d5467;
  background-size: cover;
  opacity: 0.8;
}

.text-header {
  width: 100%;
  position: absolute;
  top: 200px;
  margin-top: 0;
  color: white;
  font-size: 350%;
  opacity: 1;
}

.content {
  margin: 100px;
  color: #2F2F2F;
}

.content p {
  text-align: justify;
}

.p-image {
  display: flex;
  justify-content: space-between;
}

.quote {
  font-size: 110%;
  font-style: italic;
}

.strong {
  font-weight: bold;
}

figure img {
  width: 20vw;
  height: auto;
}

figure figcaption {
  text-align: center;
  font-size: 80%;
}

@media screen and (orientation: portrait),
screen and (max-width: 750px) and (orientation: landscape) {

  .p-image {
    display: block;
  }

  figure img {
    width: 100%;
  }
}