a {
  text-decoration: none;
}

a>h1 {
  text-align: center;
}

#devis {
  padding-top: 60px;
}

@keyframes hover {
  0% {
    background: linear-gradient(90deg, #df8848 100%, #bd5b18 100%);
  }

  10% {
    background: linear-gradient(90deg, #df8848 80%, #bd5b18 100%);
  }

  20% {
    background: linear-gradient(90deg, #df8848 60%, #bd5b18 100%);
  }

  30% {
    background: linear-gradient(90deg, #df8848 40%, #bd5b18 100%);
  }

  40% {
    background: linear-gradient(90deg, #df8848 20%, #bd5b18 100%);
  }

  50% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 80%);
  }

  60% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 60%);
  }

  70% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 40%);
  }

  80% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 20%);
  }

  90% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 0%);
  }

  100% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 0%);
  }
}

@keyframes hover2 {
  0% {
    background: linear-gradient(90deg, #df8848 100%, #bd5b18 100%);
  }

  10% {
    background: linear-gradient(90deg, #df8848 80%, #bd5b18 100%);
  }

  20% {
    background: linear-gradient(90deg, #df8848 60%, #bd5b18 100%);
  }

  30% {
    background: linear-gradient(90deg, #df8848 40%, #bd5b18 100%);
  }

  40% {
    background: linear-gradient(90deg, #df8848 20%, #bd5b18 100%);
  }

  50% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 80%);
  }

  60% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 60%);
  }

  70% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 40%);
  }

  80% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 20%);
  }

  90% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 0%);
  }

  100% {
    background: linear-gradient(90deg, #df8848 0%, #bd5b18 0%);
  }
}

.rounded-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50px;
  background: #df8848;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  width: 225px;
  text-align: center;
}

.classic {
  background: #df8848;
  animation: hover 0.15s ease-in-out;
  animation-direction: reverse;
}

.anim {
  background: #bd5b18;
  animation: hover2 0.15s ease-in-out;
  animation-direction: normal;
}


.box-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 55px;
}

.stick {
  justify-content: center;
}

#presidence {
  width: 200px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 20px #df8848;
  border: #df8848 solid 7px;
}

#pres-infos {
  margin-left: 50px;
}

#pres-infos h1,
#pres-infos h3 {
  margin: 0 0 7px 0;
}

#pres-infos h1 {
  text-align: start;
}

#pres-infos a {
  color: black;
}

.social-icon {
  width: 100px;
  border-radius: 5px;
}

#socials h3 {
  text-align: center;
}

#address {
  font-size: 1.2rem;
  font-weight: 500;
  height: 300px;
  padding-top: 30px;
  margin-left: 30px;
}

@media screen and (orientation: portrait),
screen and (max-width: 750px) and (orientation: landscape) {

  .rounded-button {
    font-size: 3vw;
    width: 285px;
  }

  main h1 {
    font-size: 2.7rem;
  }

  main>h1 {
    font-size: 4rem;
  }


}

#devis>h1 {
  text-align: center;
}