@media screen and (orientation : portrait), screen and (max-width : 800px) and (orientation : landscape) {

    header{
        font-family: 'Inter', sans-serif;
        background-color: #ffffff;
        height : 150px;
        padding-top : 10px;
        padding-right: 5%;
        padding-left: 5%;
        position: fixed;
        top : 0;
        right: 0;
        left:0;
        z-index: 1000;
            border-bottom-width :  10px;
            border-bottom-style: solid ;
            border-bottom-color : #df8848;
    }

    #filler{
        height: 160px;
    }

    #menubox{
        margin-top: 1.5%;
        height: 75%;
        float : right !important;
        border-style: none;
        background-color: white;
    }

    #headerlogojinnov{
        margin-top : 1%;
        height: 3em;
        float: left !important;
    }

    #navmenu{
        display: none;
    }

    #navmenu.closed{
        display: block;
        background-color: white;
        position:fixed;
        left:0;
        right:0;
        top: 174px;
        height: 0%;
        animation: rollin 0.3s ease-out; 
    }

    #navmenu.open{
        background-color: white;
        font-family: 'Inter', sans-serif;
        display:block;
        position:fixed;
        left:0;
        right:0;
        height: 850px;
        top: 174px;
        animation: rollout 0.3s ease-out; 
    }

    .closed ul {
        display: none;
    }

    .open ul {
        list-style: none;
        margin-top: 7%;
        text-align: center;
        padding-left: 0px;
    }

    .open li{
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .open a{
        color : black;
        text-decoration : none;
        padding-top: 30px;
        padding-bottom:30px;
        font-size: 300%;
        animation: fadein-nav-mobile 0.5s linear;
    }

    .open a:visited{
        color : black;
    }

    .icon-1, .icon-2, .icon-3 {
        margin-top: 20px;
        width: 90px;
        height: 8px;
        border-radius: 8px;
        background-color: black;
        transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
    }

    .icon-1.a {
        transform: rotate(45deg) translateY(30px) translateX(10px);
    }
    .icon-3.c {
        transform: rotate(-45deg) translateY(-30px) translateX(10px);
    }
    .icon-2.b {
        opacity: 0;
    }

    .clear {
        clear: both;
    }
    

    #contact-us-button{
        color :white;
        background-color: #df8848;
        padding: 30px;
        border-radius: 60px;
    }
}

@media screen and (max-height : 1000px) and (orientation : portrait), screen and (max-width : 800px) and (max-height : 1000px) and (orientation : landscape){
    header{
        height: 70px;
        border-bottom-width: 5px;
    }

    #filler{
        height: 75px;
    }

    .icon-1, .icon-2, .icon-3 {
        margin-top: 10px;
        width: 60px;
        height: 4px;
    }

    #menubox{
        margin-top: 7px;
    }

    .icon-1.a {
        transform: rotate(45deg) translateY(15px) translateX(5px);
    }
    .icon-3.c {
        transform: rotate(-45deg) translateY(-15px) translateX(5px);
    }

    #navmenu.closed{
        top: 86px;
    }

    #navmenu.open{
        left:0;
        right:0;
        height: 450px;
        top: 86px;
        animation: rollout 0.3s ease-out; 
    }

    .open a{
        font-size: 150%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #contact-us-button{
        color :white;
        background-color: #df8848;
        padding: 15px;
        border-radius: 40px;
    }

    .open li{
        margin-top: 40px;
        margin-bottom: 40px;
    }

}