header a {
    color : black;
}

body{
    margin : 0;
}

@media screen and (orientation : landscape) and (min-width : 800px) {
    body{
        min-width: 700px;
        margin: 0px;
    }

    #filler{
        height: 0px;
    }
    
    #menubox{
        display: hidden;
    }

    header {
        z-index: 1000;
        font-family: 'Inter', sans-serif;
        background-color: #ffffff;
        padding-top : 10px;
        padding-bottom: 10px;
        padding-left : 10%;
        padding-right: 10%;
        margin-left : 0px;
        margin-right : 0px;
        position:sticky;
        min-height: 70px;
        top:0;
        right:0;
        left:0;
        min-width: inherit;
        border-bottom-width :  3px;
        border-bottom-style: solid ;
        border-bottom-color : #df8848; 
    }

    header #headerlogojinnov{
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    header ul {
        z-index: 1000;
        margin-top : 10px;
        display: flex;
    }

    header li {
        list-style: none;
        z-index: inherit;
    }

    header a {
        padding-left: 5px;
        padding-right: 5px;
        margin-right : 10px;
        margin-left : 10px;
        text-decoration: none;
    }

    header a:visited {
        color : black
    }

    header a#contact-us-button{
        padding-left : 15px;
        padding-right : 15px;
        padding-bottom: 15px;
        padding-top : 15px;
        margin-right : 5px;
        margin-left : 5px;
        border-radius: 25px;
        background: #df8848;
        color : white;
    }

    header a#contact-us-button.classic {
        background: #df8848;
        animation : hover_a2 0.15s ease-in-out;
        animation-direction: reverse;
    }

    header a#contact-us-button.anim{
        background: #bd5b18;
        animation : hover_a 0.15s ease-in-out;
        animation-direction: normal;
    }
}

@media screen and (min-width : 1260px) and (orientation : landscape){
    header #headerlogojinnov{
        float: left !important;
    }

    header ul {
        float : right !important;
    }
}


@media screen and (max-width : 1260px) and (orientation : landscape) and (min-width : 800px){
    header nav{
        display: flex;
        align-items: center;
        width: 900px;
    }
    header ul{
        width: 900px;
    }

    header ul li{
        font-size: 90%;
    }

    header {
        padding-top: 0px ;
    }
    
    header #headerlogojinnov{
        margin-top: -10px;
        width: 140px;
    }

    header nav ul {
        margin-top: 0px;
    }

    header a#contact-us-button{
        padding-left : 10px;
        padding-right : 10px;
        padding-bottom: 10px;
        padding-top : 10px;
        margin-right : 5px;
        margin-left : 5px;
        border-radius: 20px;
        background: #df8848;
        color : white;
    }
}

header{
    background-color: white;
}

ul {
    align-items: center;
    padding: 0;
}