body {
    overflow-x: hidden;
    margin: 0px
}

main {
    margin: 0px;
    margin-top: -1px;
    font-family: 'Inter', sans-serif;
}

#grand-titre {
    padding-top: 1px;
    background-color: #df8848;
    text-align: center;
    min-height: 150px;
}

#grand-titre>#bigh1 {
    font-size: 450%;
    position: relative;
    color: white;
    margin-bottom: 0;
    margin-top: 62px;
}

#grand-titre>svg {
    margin-top: -34px;
    width: 100vw;
    height: auto;
}

#spacer {
    height: 119px;
    background-color: white;
    margin-bottom: -20px;
}

.part-title {
    font-size: 300%;
}

#mission {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}

#desc {
    margin-left: 10%;
    margin-right: 10%;
}

#desc>#splitter {
    display: flex;
    align-items: center;
    margin-top: -60px;
}

#desc>#splitter>div {
    width: 80%;
    margin-right: 2%;
}

#desc>#splitter p {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 1.2vw;
    margin: 10px 0;

}

#desc>#splitter>img {
    width: 40%;
    height: auto;
    margin-left: 2%;
}

#valors {
    margin-top: 5%;
    background-color: #da6518;
    padding-top: 2vh;
    padding-bottom: 10vh;
    border-top-right-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    position: relative;
    z-index: 100;
}

#valors .part-title {
    text-align: center;
    color: white;
    margin-bottom: 6vh;
}

#scroller {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vh;
    scroll-behavior: smooth;
}

#scroller::-webkit-scrollbar {
    display: none;
}

.valeur {
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 250px;
    width: calc(17% - 20px);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 40px;
}

.valeur img {
    width: 100%;
}

.valeur>div {
    width: 36%;
    padding: 12%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#zero {
    color: #3d5467;
}

#zero>div {
    background-color: #3d5467;
}

#un {
    color: #df8848;
}

#un>div {
    background-color: #df8848;
}

#deux {
    color: #96a8b0;
}

#deux>div {
    background-color: #96a8b0;
}

#trois {
    color: #bd5b18;
}

#trois>div {
    background-color: #bd5b18;
}

#quatre {
    color: #436c7c;
}

#quatre>div {
    background-color: #436c7c;
}

.valeur>h2 {
    text-align: center;
}

.valeur>p {
    text-align: center;
    font-size: 100%;
}

#CNJE {
    background-color: #436c7c;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 120px;
    margin-top: -70px;
    padding-bottom: 10vh;
}

#CNJE .part-title {
    color: white;
}

#CNJE div {
    display: flex;
    align-items: center;
}

#CNJE div a {
    width: 20%;
}

#CNJE div a img {
    width: 100%;
}

#CNJE div p {
    width: 80%;
    margin-left: 5%;
    font-size: 1.2vw;
    margin-top: -10px;
    text-align: justify;
    color: white;
}

#INSA {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 120px;
    margin-top: -70px;
    padding-bottom: 5vh;
}

#INSA .part-title {
    color: black;
}

#INSA div {
    display: flex;
    align-items: center;
}

#INSA div a {
    width: 20%;
}

#INSA div a img {
    width: 100%;
}

#INSA div p {
    width: 80%;
    margin: 5%;
    font-size: 1.2vw;
    text-align: justify;
    color: black;
}

@media screen and (orientation : portrait) {

    .part-title {
        font-size: 300%;
        text-align: center;
    }

    #desc {
        margin-left: 5%;
        margin-right: 5%;
    }

    #grand-titre {
        padding-top: 1px;
        background-color: #df8848;
        text-align: center;
        height: 150px;
        padding-bottom: 50px;
    }

    #grand-titre>#bigh1 {
        font-size: 10vw;
        position: relative;
        color: white;
    }

    #grand-titre>svg {
        margin-top: -14px;
        width: 100vw;
        height: auto;
    }

    #desc>#splitter {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #desc>#splitter>div {
        margin-right: 0px;
        width: 100%;
    }


    #desc>#splitter p {
        width: 100%;
        text-align: justify;
        font-size: 1.8vh;
        margin-bottom: 3vh;
    }

    #desc>#splitter>a {
        width: 100%;
        height: auto;
    }

    #desc>#splitter>a>img {
        width: 100%;
    }

    #CNJE {
        margin-top: -85px;
        margin-bottom: 2vh;
    }
}