<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{article.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{{article.title}}</h1>
    <img src="{{url_for('static', filename=article.image)}}">
    <span>{{article.body}}</span>
    <span>Par : {{article.author_name}} le {{article.strDate()}}</span>
    {% if admin %}<a href="{{url_for('adminpanel.article_delete', id=article.id)}}">Delete</a>{% endif %}
  </body>
</html>