{% extends "base.html" %}
{% block head %}
<title>JINNOV | Nos actualités</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/actu.css')}}">
{% endblock %}
{% block body %}
<h1>Nos actualités</h1>
{% if highlighted %}
<div class="news-box">
  <h2>À la une</h2>
  <div id="news-top">
    <a class="news" href="{{url_for('core.article', id=highlighted.id)}}">
      <img src="{{url_for('static', filename=highlighted.image)}}">
      <h3>{{highlighted.title}}</h3>
      <h5></h5>
      <span>{{highlighted.description}}</span>
    </a>
  </div>
</div>
{% endif %}
<div class="news-box">
  <h2>Tous nos articles</h2>
  <div id="news-grid">
    {% for a in articles %}
    <a class="news" href="{{url_for('core.article', id=a.id)}}">
      <img src="{{url_for('static', filename=a.image)}}">
      <h3>{{a.title}}</h3>
      <h5></h5>
      <span>{{a.description}}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
