
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header_mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-header.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
        {% block head %}{% endblock %}  
    </head>
    <body>
        <header>
            <div id="content-container">
                <img id="headerlogojinnov" src="{{ url_for('static', filename='img/logo_jinnov_header.png') }}">
                <div  id="menubox">
                    <div class="icon-1" id="menua"></div>
                    <div class="icon-2" id="menub"></div>
                    <div class="icon-3" id="menuc"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </header>
        <nav id="navmenu" class="">
            <ul>
                <nav>
                    <ul>
                        <li><a href="">
                            Accueil
                        </a></li>
                        <li><a href="">
                            Qui sommes-nous ?
                        </a></li>
                        <li><a href="">
                            Nos actualités
                        </a></li>
                        <li><a href="">
                            Nos études
                        </a></li>
                        <li><a id="contact-us-button" href="" class="">
                            Nous contacter
                        </a></li>
                    </ul>
                </nav>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer></footer>
    </body>
    <script src="{{ url_for('static', filename='js/header_mobile.js') }}"></script>
</html>