<html lang="fr">
    <head>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header-fullsize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header_mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer-fullsize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11146796969"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-11146796969'); </script>
        {% block head %}{% endblock %}
        <script>
            var has_agreed = {{has_agreed}};
            var agreement = {{agreement}};
        </script>
    </head>
    <body>
        <header id="header">
            <div id="content-container">
                <a href="{{url_for('index')}}"><img id="headerlogojinnov" src="{{ url_for('static', filename='img/logo_jinnov_header.png') }}"></a>
                <div  id="menubox">
                    <div class="icon-1" id="menua"></div>
                    <div class="icon-2" id="menub"></div>
                    <div class="icon-3" id="menuc"></div>
                    <div class="clear"></div>
                </div>
                <nav id="navmenu">
                    <ul>
                        <li><a href="{{url_for('index')}}">
                            Accueil
                        </a></li>
                        <li><a href="{{url_for('aboutus')}}">
                            Qui sommes-nous ?
                        </a></li>
                        <li><a href="{{url_for('core.articles')}}">
                            Nos actualités
                        </a></li>
                        <li><a href="{{url_for('presta')}}">
                            Nos prestations
                        </a></li>
                        <li><a id="contact-us-button" href="{{ url_for('contact') }}" class="">
                            Nous contacter
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="filler"></div>
        <main>
        {% block body %}{% endblock %}
        </main>
        <div id="cookie-popup">
            <div id="img-container">
                <img src="{{url_for('static', filename='img/cookie.png')}}"/>
            </div>
            <h1>Notre site utilise des cookies</h1>
            <p>Les données que nous collectons sont uniquement utilisées pour ameliorer le site !</p>
            <div id="buttonline">
                <div id="deny-button"><p>Refuser</p></div>
                <div id="accept-button"><p>Accepter</p></div>
            </div>
        </div>
        <footer>
            <div id="footer-container">
                <div id="footer-first-column">
                    <h1>Pages</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('index')}}">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('aboutus')}}">
                                Qui sommes-nous ?
                            </a>
                        </li>
                        <ul>
                            <li>
                                <a href="{{url_for('liste_membres')}}">
                                    Liste des membres
                                </a>
                            </li>
                        </ul>
                        <li>
                            <a href="{{url_for('core.articles')}}">
                                Nos actualités
                            </a>
                        </li>
                        <li><a href="{{url_for('presta')}}">
                            Nos prestations
                        </a></li>
                        <li>
                            <a href="{{ url_for('contact') }}" class="">
                                Nous contacter
                            </a>
                        </li>
                        <ul>
                            <li>
                                <a href="{{url_for('contact', _anchor='devis')}}" class="">
                                    Demander un devis
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('etuform')}}" class="">
                                    Devenir membre
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div id="footer-second-column">
                    <h1>Partenaires</h1>
                    <div class="footer-image-container">
                        <ul>
                            <li>
                                <a href="https://junior-entreprises.com/" target="_blank">
                                    CNJE
                                </a>
                            </li>
                            <li>
                                <a href="https://www.insa-hautsdefrance.fr/" target="_blank">
                                    INSA Hauts-de-France
                                </a>
                            </li>
                            <li>
                                <a href="https://www.epnak.org/" target="_blank">
                                    EPNAK
                                </a>
                            </li>
                            <li>
                                <a href="https://centralelilleprojets.fr/" target="_blank">
                                    Centrale Lilles Projets
                                </a>
                            </li>
                            <li>
                                <a href="https://fondation.groupe-insa.fr/" target="_blank">
                                    Fondation INSA
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footer-third-column">
                    <h1>Nos liens</h1>
                    <div class="footer-image-container">
                        <a href="https://www.linkedin.com/company/jinnov/" target="_blank">
                            <img src="{{url_for('static',filename='img/linkedin.jpg')}}"/>
                        </a>
                        <a href="https://www.facebook.com/jinnov.insa/" target="_blank">
                            <img src="{{url_for('static',filename='img/facebook.png')}}"/>
                        </a>
                        <a href="https://www.instagram.com/jinnov.insa/" target="_blank">
                            <img src="{{url_for('static',filename='img/instagram.png')}}"/>
                        </a>
                    </div>
                </div>
            </div>
            <div id="legal-mentions">
                <p>2021-2023 JINNOV | INSA Hauts-de-France</p>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header_mobile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js')}}"></script>
    {% block script %}{% endblock %}
</html>