<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header-fullsize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header_mobile.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
        {% block head %}{% endblock %}  
    </head>
    <body>
        <header id="header">
            <div id="content-container">
                <img id="headerlogojinnov" src="{{ url_for('static', filename='img/logo_jinnov_header.png') }}">
                <div  id="menubox">
                    <div class="icon-1" id="menua"></div>
                    <div class="icon-2" id="menub"></div>
                    <div class="icon-3" id="menuc"></div>
                    <div class="clear"></div>
                </div>
                <nav id="navmenu">
                    <ul>
                        <li><a href="">
                            Accueil
                        </a></li>
                        <li><a href="">
                            Qui sommes-nous ?
                        </a></li>
                        <li><a href="">
                            Nos actualités
                        </a></li>
                        <li><a href="">
                            Nos études
                        </a></li>
                        <li><a id="contact-us-button" href="" class="">
                            Nous contacter
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="placeholder">
            <p>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ut ante vitae volutpat. Donec eget leo facilisis, pellentesque nisl faucibus, consequat lectus. Praesent efficitur ligula vitae urna varius, quis mollis purus aliquam. Donec sit amet hendrerit ante. Maecenas non viverra sapien. Aliquam turpis ex, fringilla sit amet nisl et, pulvinar mollis est. Mauris in viverra felis, at cursus ipsum. Integer a sem non sem varius iaculis sed nec ante. Maecenas ac metus lorem. Suspendisse vulputate enim nulla, at luctus ante sodales nec. Donec tristique, arcu a lobortis vestibulum, ante felis ullamcorper sem, a placerat nulla arcu vitae libero. Suspendisse rutrum malesuada risus quis vehicula. Curabitur mauris dolor, consectetur sed interdum a, molestie vel odio. Nulla sagittis tempor mollis. Nulla vulputate risus at ultrices pharetra.

In et hendrerit quam. Phasellus at est maximus, imperdiet massa et, placerat arcu. Nulla porttitor interdum eros at scelerisque. Duis nec urna in mauris tristique lobortis vel ac lorem. Nunc vehicula lacus vitae consectetur rutrum. Sed maximus ipsum dolor, eu fermentum enim congue id. Aliquam iaculis elit vel varius pulvinar. Etiam sed luctus risus. Phasellus elit nibh, suscipit sit amet ligula faucibus, sollicitudin dignissim sapien. Donec nec quam non urna condimentum posuere sed nec libero. Proin pretium arcu nec accumsan egestas.

Etiam sed dolor dapibus, tincidunt mauris at, tempus odio. Curabitur a arcu dui. Sed hendrerit dignissim lacus, tincidunt egestas eros pellentesque et. Mauris vel maximus tellus. Cras a ultrices lorem. Cras ut interdum leo. Curabitur at erat quis magna varius rhoncus. Fusce pretium vehicula nisi at commodo. Etiam vehicula quam mauris, sed ultrices ipsum consequat ut. Etiam consectetur tortor sit amet efficitur accumsan. Morbi id gravida tellus. Donec interdum, libero tristique rutrum euismod, neque mi blandit est, a sollicitudin massa odio a turpis.

Sed ut consectetur magna. Nullam maximus vestibulum enim, vitae dignissim lectus mattis sit amet. Nam imperdiet enim vel augue tempus tristique. Suspendisse potenti. Proin dictum iaculis mattis. Etiam faucibus ex vitae elit viverra, ac scelerisque elit fringilla. Aliquam scelerisque ligula et lorem venenatis fermentum. Praesent viverra, orci ut ultricies convallis, lacus purus pulvinar justo, et ornare augue arcu in ipsum. Vestibulum eleifend lacus non justo tincidunt molestie. Cras sem sem, dignissim sed tempus at, congue sed nisl. Cras ipsum ex, pretium at mi vitae, convallis laoreet ligula. Sed dolor libero, suscipit eu dignissim et, ullamcorper nec mi. Pellentesque rutrum velit at pretium faucibus.

Sed sed urna nec dolor finibus dapibus. Donec interdum nulla nec quam placerat, quis scelerisque risus accumsan. Maecenas felis erat, congue et mi et, sodales congue libero. Nullam imperdiet ac mi at ornare. Vivamus dignissim efficitur lorem, pharetra elementum quam scelerisque vitae. Ut a efficitur nisl. In efficitur sit amet orci eget semper. Aenean vitae nibh sit amet est volutpat fringilla eu vel augue. Donec rutrum ligula lectus. Fusce feugiat eros ut magna pretium, quis rutrum turpis placerat. Quisque porta, risus vitae commodo posuere, dolor ante finibus tellus, ac aliquam dolor nunc ut dui. Nullam interdum fermentum dui, quis volutpat metus facilisis vel. Aenean eros erat, faucibus ut lacus ut, finibus porta mauris. Phasellus tincidunt tellus suscipit, vestibulum massa sed, cursus tellus. Sed at lacus blandit, sollicitudin ipsum ut, convallis felis. Nulla in pharetra turpis.

Sed ornare, enim et dapibus egestas, felis ante iaculis enim, et faucibus eros nibh eget velit. Ut rutrum purus eu elementum finibus. Vestibulum vitae velit orci. Etiam imperdiet a sem eu tincidunt. Phasellus vitae leo erat. Donec vitae tempus ante. Mauris scelerisque, purus non ullamcorper malesuada, mauris erat molestie turpis, sed facilisis nibh tortor quis velit. Donec elit tortor, egestas ut neque ut, placerat aliquam lacus. Aliquam lectus ex, luctus sit amet porta sed, mattis nec leo. Integer eu rutrum tellus, a imperdiet mi. Donec a faucibus odio, eget bibendum ligula. In hac habitasse platea dictumst. Sed euismod est sed metus semper molestie non ut purus. Maecenas suscipit odio enim, vel cursus metus tincidunt sed. Nam pretium enim sed tellus porttitor bibendum. Duis cursus, ipsum eget aliquam bibendum, sapien purus molestie elit, et efficitur ligula libero non enim.

Fusce accumsan felis eget leo tincidunt, sit amet consectetur ante lobortis. Maecenas eget nulla semper, blandit risus vulputate, vehicula nisl. Curabitur ac tellus sit amet purus mattis sollicitudin. Mauris sit amet eleifend diam. Curabitur viverra mollis nulla. Aliquam eu leo tempor, mattis velit eget, lacinia tellus. Sed sed lobortis turpis. Vestibulum malesuada pretium tempor. Donec sit amet mollis augue, eget aliquet lacus.

Praesent at scelerisque eros. Aenean at risus ac nulla porta ullamcorper. Duis fermentum arcu et tortor congue finibus. Etiam ac ullamcorper justo. Pellentesque sit amet bibendum neque. Pellentesque bibendum purus massa, eu molestie orci gravida in. Duis molestie interdum ante, eget egestas augue lobortis ut. Donec vel tellus convallis, tristique massa in, accumsan enim. Mauris dapibus porta ullamcorper. Quisque ligula felis, facilisis vitae luctus nec, accumsan ac justo. Quisque consequat vitae magna et ullamcorper. Donec id ante blandit, venenatis nibh a, pretium metus. Sed venenatis sodales ligula.

Nam ut velit vitae felis viverra semper. Nunc sit amet ante vitae erat pharetra rutrum. Vivamus urna nulla, tempor in orci sit amet, fermentum vehicula ligula. Etiam at volutpat augue. Maecenas in enim est. Suspendisse nec magna nulla. Donec hendrerit ante in ex tempus, sit amet luctus turpis rutrum. Fusce tristique tincidunt arcu, et venenatis purus dictum a. Phasellus gravida sit amet eros at pellentesque. Mauris ut dolor urna. Etiam convallis dolor nulla, in laoreet nibh gravida at. Aliquam vulputate et velit sit amet dapibus.

Aenean iaculis nibh sed diam consequat finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam venenatis iaculis risus ac fermentum. Donec ligula nisi, egestas sit amet sapien id, mollis malesuada ligula. Nulla tempus ut magna vitae pharetra. Maecenas porttitor eros non scelerisque pulvinar. Vivamus rhoncus mattis risus ac scelerisque. Fusce sed quam quis lacus rhoncus commodo. Duis dignissim porttitor nibh ac imperdiet. 
            </p>
        </div>
        {% block body %}{% endblock %}
        <footer></footer>
    </body>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header_mobile.js') }}"></script>
</html>