{% extends "base.html" %}
{% block head %}
<title>JINNOV | Nous contacter</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}
{% block body %}
<h1>Nous contacter</h1>
<div class="box-col">
  <a href="" class="rounded-button">
    Demander un devis
  </a>
  <a href="" class="rounded-button">
    Nous rejoindre
  </a>
</div>
<div class="box-col stick">
  <img id="presidence" src="{{url_for('static', filename='img/presidence.jpg')}}">
  <div id="pres-infos">
    <h1>Théa LOUVRADOUX</h1>
    <h3>Présidente</h3>
    <h3>Tel : +33 6 04 17 65 19</h3>
  </div>
</div>
<a href="mailto:contact@jinnov-insa.fr"><h1>contact@jinnov-insa.fr</h1></a>
<div id="socials" class="box-col">
  <div>
    <img src="{{url_for('static',filename='img/linkedin.jpg')}}" class="social-icon"/>
    <h3>JINNOV</h3>
  </div>
  <div>
    <img src="{{url_for('static',filename='img/instagram.png')}}" class="social-icon"/>
    <h3>jinnov.insa</h3>
  </div>
  <div>
    <img src="{{url_for('static',filename='img/facebook.png')}}" class="social-icon"/>
    <h3>jinnov.insa</h3>
  </div>
</div>
<div class="box-col stick">
  <iframe width="500px" height="300px" frameborder="0" allowfullscreen="" src="//umap.openstreetmap.fr/fr/map/jinnov_692224?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
  <div id="address">
    JINNOV<br>
    INSA Hauts-de-France<br>
    Campus Mony-Houy<br>
    59300 Famars<br>
    France
  </div>
</div>
<div id="devis">
  <h1>Demander un devis</h1>
  <div id='formulaire'>
      <form action="{{url_for('core.post_devis')}}" id ='mail_form_devis' method="post">
          <label>Nom de l'entreprise (optionnel)
              <input type="text" name="nom_entreprise" id="nom_entreprise">
          </label>
          <div id="names">
              <label class="margin">Nom * :
                  <input type="text" name="nom" id="nom">
              </label>
              <label>Prénom * :
                  <input type="text" name="prenom" id="prenom">
              </label>
          </div>
          <div id="contact">
              <label class="margin">Téléphone * :
                  <input type="text" name="téléphone" id="téléphone">
              </label>
              <label>Email * :
                  <input type="mail" name="mail" id="mail">
              </label>
          </div>
          <label id="Textarea">Détail de la demande * :
              <textarea name="contenu" id="contenu" cols="30" rows="10" number ='500000' form = 'mail_form_devis' placeholder="Votre message"></textarea>
          </label>
          <input type="submit" value="Envoyer" id="button">
      </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/contact.js')}}"></script>
{% endblock %}