{% extends "base.html" %}
{% block head %}
<title>JINNOV | Qui sommes nous ?</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/kisomnou.css')}}">
{% endblock %}
{% block body %}
<div id="grand-titre">
    <h1 id="bigh1">Qui sommes-nous ?</h1>
</div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 1604 1920 119" >
    <path class="st3" fill="#df8848" d="M-2.8,1603.5h1927.7C990.1,1843.2,58.1,1618.6-2.8,1603.5z"/>
</svg>
<div id="spacer"></div>
<div id="desc">
    <h2 class="part-title">JINNOV c'est :</h2>
    <div id="splitter">
        <div>
            <p>
                Des membres actif·ve·s motivé·e·s et impliqué·e·s, étudiant·e·s de l’INSA Hauts-de-France, n’ayant qu’un seul but : réaliser les ambitions de nos client·e·s.
            </p>
            <p>
                Une association organisée en  pôles : Communication, Qualité, Ressources Humaines, Systèmes informatiques, Trésorerie, Unité d’Affaires. 
            </p>
            <p>
                Plus de 4600 intervenant·e·s potentiel·le·s, également étudiant·e·s à l'INSA Hauts-de-France, prêt·e·s à réaliser des études en lien avec leur cursus universitaire.            
            </p>
        </div>
        <img src="{{url_for('static',filename='img/photogroup.JPG')}}">
    </div>
</div>

<div id="valors">
    <h2 class="part-title">Nos valeurs</h2>
    <div id="scroller">
        <div id="zero" class="valeur">
            <div>
                <img src="{{ url_for('static', filename='img/Cohesion.svg') }}">
            </div>
            <h2>Cohésion</h2>
            <p>
                Chaque membre ayant un rôle bien défini dans la Junior, la cohésion de l'équipe est nécessaire pour réaliser un travail professionnel de qualité.
            </p>
        </div>
        <div id="un" class="valeur">
            <div >
                <img src="{{ url_for('static', filename='img/Proactivité.svg') }}">
            </div>
            <h2>Proactivité</h2>
            <p>
                Nos membres travaillent activement en anticipant les différentes options, et ainsi trouver les solutions les plus adaptées.
            </p>
        </div>
        <div id="deux" class="valeur">
            <div>
                <img src="{{ url_for('static', filename='img/Qualité.svg') }}">
            </div>
            <h2>Qualité</h2>
            <p>
                Aspect nécessaire de notre travail, elle permet de s'assurer de la satisfaction de nos client·e·s.
            </p>
        </div>
        <div id="trois" class="valeur">
            <div>
                <img src="{{ url_for('static', filename='img/Progression2.svg') }}">
            </div>
            <h2>Progression</h2>
            <p>
                JINNOV cherche en permanence à  s'améliorer et progresser pour produire un travail toujours plus performant.
            </p>
        </div>
        <div id="quatre" class="valeur">
            <div>
                <img src="{{ url_for('static', filename='img/Humanisme.svg') }}">
            </div>
            <h2>Humanisme</h2>
            <p>
                JINNOV est avant tout une Junior qui met en relation un·e client·e et un·e ou plusieurs intervenant·e·s, ce qui fait de
                l'humanisme une valeur essentielle à son bon fonctionnement.
            </p>
        </div>
    </div> 
</div>

<div id="CNJE">
    <h1 class="part-title">La CNJE</h1>
    <div>
    <img src="{{ url_for('static', filename='img/cnje-logo.svg') }}">
        <p>
            La Confédération Nationale des Junior-Entreprises nous encadre quotidiennement en veillant au bon fonctionnement de notre Junior et nous soutient dans nos projets. La CNJE organise des congrès régionaux et nationaux, visant à former tou·te·s les Juniors-Entrepreneur·euse·s. Tous les six mois, la CNJE fait passer un audit aux Juniors, qui permet de vérifier la qualité des études réalisées, ainsi que la qualité de la gestion et de la trésorerie des Juniors.
        </p>
    </div>
</div>

<div id="INSA">
    <h1 class="part-title">L'INSA Hauts-de-France</h1>
    <div>
    <img src="{{ url_for('static', filename='img/insa-logo2.svg') }}">
        <p>
            L’INSA nous soutient et nous apporte des connaissances et des missions grâce à son réseau. Nous demandons conseil auprès des enseignant·e·s chercheur·euse·s concernant la réalisation des études. L’INSA nous permet également de gagner en visibilité, notamment en nous invitant lors de forums d’entreprises. 
        </p>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
