<html>
    <div class='mail'>
        <form action="mail" id = 'mail_form' method="post">
            <label>
                Nom de l'entreprise:
                <input type="text" name="nom_entreprise" id="nom_entreprise">
            </label>
    <br>
            <label>
                Nom:
                <input type="text" name="nom" id="nom">
            </label>
    <br>
            <label>
                prenom
                <input type="text" name="prenom" id="prenom">
            </label>
            <br>
            <label>
                Adresse
                <input type="text" name="Adresse" id="Adresse">
            </label>
            <br>
            <label>
                téléphone
                <input type="text" name="téléphone" id="téléphone">
            </label>
            <br>
            <label>
                mail
                <input type="mail" name="mail" id="mail">
            </label>
            <br>
            <label>
                Détail de la demande <br>
                <textarea name="contenu" id="contenu" cols="30" rows="10" number ='500000' form = 'mail_form'></textarea>
                
            </label>
            <br>
            <label>
                Envoyer
                <input type="submit" value="submit">
            </label>
        </form>
    </div>
</html>
