{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">
<title>JINNOV | Devenir membre</title>
{% endblock %}
{% block body %}
<div class='mail'>
    <div id="fancy-title">
        <h1>Devenir membre</h1>
    </div>
    <div id='formulaire'>
        <form action="mail_student" id = 'mail_form_student' method="post">
            <div id="names">
                <label class="margin">
                    Nom :
                    <input type="text" name="nom" id="nom">
                </label>
                <label>
                    Prénom :
                    <input type="text" name="prenom" id="prenom">
                </label>
            </div>
            <div id="contact">
            <label class="margin">
                Téléphone :
                <input type="text" name="téléphone" id="téléphone">
            </label>
            <label>
                Mail :
                <input type="mail" name="mail" id="mail">
            </label>
            </div>
            <label id="select">
                Année d'étude :
                <select name = 'annee_etude'>
                    <option> 1A </option>
                    <option> 2A </option>
                    <option> 3A </option>
                    <option> 4A </option>
                    <option> 5A </option>
                </select>
            </label>
            <label id="smoltext">
                Qu'est-ce qui t'intéresse chez JINNOV ?<br>
                <textarea name="motivations" id="motivations" cols="30" rows="10" number ='500000' form = 'mail_form_student' placeholder="Ton message"></textarea>
                
            </label>
            <input id="button" type="submit" value="Envoyer">
        </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}